

            <footer>
                <div class="footer-content-1">
                    <p class="footer-copyright">©{% year %} thomas hadfield.</p>
                </div>

                <div class="footer-content-2">
                    
                    <div class="footer-cont-wrap">
                        <p class="colophon">
                            colophon: 
                            <a href="https://fonts.google.com/specimen/Geist" target="_blank" rel="noopener noreferrer">geist</a>, <a href="https://fonts.google.com/specimen/DM+Mono" target="_blank" rel="noopener noreferrer">DM mono</a>
                        </p>

                        <p>
                            <a href="https://github.com/ThomasHadfield/th-portfolio-site" target="_blank" rel="noopener noreferrer">source code</a>
                        </p>
                    </div>

                    <p class="top-btn">
                        <a href="#top" rel="noopener noreferrer">&uarr;top</a>
                    </p>

                </div>
            </footer>