        <header>

            <section class="header-wrap">
                <div class="header-left">
                    <a href="/" class="header-home-btn"><h1>Thomas Hadfield <br> Graphic Designer </h1></a>
                </div>

                <div class="header-right">
                    <h2> London, UK </h2>
                    <output class="current-time" id="time">00:00:00</output>
                </div>
            </section>

        </header>