
        <section class="intro intro-home">

            <div class="intro-info-wrap">

                <p class="intro-bio"> 
                    {{ bio }} 
                    Currently freelancing full time.
                </p>
                <br>
                <p class="intro-links">
                    <a href="/info/" rel="noopener noreferrer">Info</a>,
                    <a href="mailto:work@hadfield.xyz" target="_blank" rel="noopener noreferrer">Email</a>,
                    <a href="https://www.linkedin.com/in/thomashadfield" target="_blank" rel="noopener noreferrer">LinkedIn</a>,
                    <a href="https://mastodon.social/@neuehaas" target="_blank" rel="noopener noreferrer">Mastodon</a>
                </p>

            </div>

        </section>




