---
layout: layouts/base.njk

title: Thomas Hadfield

bio: I’m a designer from Toronto, Canada. After building my career in Toronto’s design industry, I moved to Europe at the end of 2024 to expand my perspective on life and my design practise.

---



            <!-- PORTFOLIO -->

            <div class="portfolio-nav">
                <p>
                    Projects / <a href="/experiments/" rel="noopener noreferrer">Experiments</a>
                </p> 
            </div>

            <main class="portfolio">

                <!-- PROJECTS -->
                {%- for project in collections.project -%}
                    <section class="project">

                        <a class="project-link" href=" {{ project.url }}">
                            <div class="project-image-wrap">
                                <img loading="lazy" src=" {{ project.data.heroImage }} " alt=" {{ project.data.heroImageAlt }} ">    
                            </div>
                        </a>

                        <div class="project-title-wrap">
                            <p class="project-name"> {{ project.data.title }}, </p>
                            <p class="project-subject">{{ project.data.subject }}</p>
                        </div>
                    </section>
                {%- endfor -%}


            </main>