---
layout: layouts/base.njk

title: Info

bio: I’m a designer from Toronto, Canada. After building my career in Toronto’s design industry, I moved to Europe at the end of 2024 to expand my perspective on life and my design practise.

---



            <!-- PORTFOLIO -->
            <main class="about">


                <section class="philosophy about-section">

                    <div class="about-sec-left">
                        <h2>Design Philosophy</h2>
                    </div>

                    <div class="about-sec-right">
                        <p>
                            Design, at its best, is thoughtful and intentional. I approach design as a practice of patience and exploration, allowing ideas the time to grow and evolve. Play and experimentation are essential; it’s in the unexpected intersections that inspiring work is found and created.
                            <br><br>
                            Brutalism and mid-century modernism inform my visual language, two seemingly contrasting influences that converge in my work. I am drawn to brutalism’s raw, structured forms, where boldness meets functionality, while the timeless elegance and forward-thinking principles of mid-century design continue to inspire and ground my practice. Whether it's through research or collecting old materials, I continue to look back on the past to learn from the pioneers of modernism.
                            <br><br>
                            Typography is at the heart of my work. I’ve been fascinated by letters since childhood, experimenting with forms and shapes long before I called it design. For me, typography is not just a tool—it’s a medium for expression. I try to create typographic led design work, allowing their forms to stand on their own. This to me is what shapes memorable and engaging design.
                        </p>
                    </div>

                </section>



                <section class="experience about-section">

                    <div class="about-sec-left">
                        <h2>Experience</h2>
                    </div>

                    <div class="about-sec-right">

                        <div class="about-sec-col">
                            <p>Feb 2026 – Present</p>
                            <p>Graphic Designer, Freelance <br> Wiedemann Lampe</p>
                        </div>

                        <div class="about-sec-col">
                            <p>Sept 2025 – Present</p>
                            <p>Creative Director & Visual Designer, Freelance <br> Kollektif Studio</p>
                        </div>

                        <div class="about-sec-col">
                            <p>Mar 2025 – Jan 2026</p>
                            <p>Visual Designer, Freelance <br> Studio Dumbar</p>
                        </div>

                        <div class="about-sec-col">
                            <p>Dec 2024 - Present</p>
                            <p>Brand & Visual Designer, Freelance<br> Self Employed</p>
                        </div>

                        <div class="about-sec-col">
                            <p>Feb 2023 – Nov 2024</p>
                            <p>Senior Graphic Designer <br> Rethink</p>
                        </div>

                        <div class="about-sec-col">
                            <p>Feb 2023 – Nov 2024</p>
                            <p>Graphic Designer <br> Jacknife</p>
                        </div>

                        <div class="about-sec-col">
                            <p>Nov 2018 – Nov 2019</p>
                            <p>Graphic Designer <br> The Workhouse</p>
                        </div>

                        <div class="about-sec-col">
                            <p>Sept 2016 – May 2018</p>
                            <p>Junior Designer <br> Publicis</p>
                        </div>

                        <div class="about-sec-col">
                            <p>Jan – May 2016</p>
                            <p>Design Intern <br> Projektor</p>
                        </div>



                    </div>

                </section>



                <section class="education about-section">

                    <div class="about-sec-left">
                        <h2>Education</h2>
                    </div>

                    <div class="about-sec-right">
                        
                        <div class="about-sec-col">
                            <p>2022</p>
                            <p>Coursera <br> Google UX Design Certificate Course</p>
                        </div>

                        <div class="about-sec-col">
                            <p>2019</p>
                            <p>Juno College of Technology <br> Front End Web Development Course</p>
                        </div>

                        <div class="about-sec-col">
                            <p>2016</p>
                            <p>George Brown College, School of Design <br> Advanced Diploma, Graphic Design</p>
                        </div>
                        
                    </div>                    

                </section>

            </main>